$grey1: #DDD;
$grey2: #f2f2f3;
$c1: #d0000e;

.vue-city-picker {
	position: relative;
	margin: 0;
	padding: 0;
	font: 12px/1.5 'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB','\\5b8b\4f53',sans-serif;
	color: #666;

	* {
		margin: 0;
		padding: 0;
		box-sizing: content-box;
	}

	input {
		display: block;
		width: 245px;
		height: 28px;
		padding-left: 6px;
		border: 1px solid $grey1;
		outline: none;
		font-size: 14px;
	}

	li {
		list-style-type: none;
	}

	.vcp-panel {
		position: absolute;
		z-index: 99999;
		left: 0;
		padding: 12px 10px 0;
		width: 360px;
		border: 1px solid $grey1;
		box-shadow: 0 0 10px 0 $grey1;
		overflow: hidden;
		background-color: #FFF;

		h5 {
			margin-bottom: 5px;
			padding-left: 2px;
			color: #aaa;
			line-height: 1.5;
			font-weight: normal;
		}

		.vcp-tags {
			overflow: hidden;
			margin: 5px 0;

			li {
				box-sizing: border-box;
				width: 60px;
				line-height: 20px;
				display: block;
				float: left;
				background-color: $grey2;
				text-align: center;
				border-left: 1px solid #fff;
				cursor: pointer;

				&:first-child {
					border-left: none;
				}

				&.z-on {
					background-color: $c1;
					color: #fff;
				}
			}
		}

		.vcp-list {
			overflow: hidden;
			border-bottom: 10px solid #fff;

			> div {
				margin: 1px 0 -1px;
				padding: 5px 0;
				line-height: 24px;
				border-bottom: 1px dashed #eee;
				overflow: hidden;

				h6 {
					float: left;
					font-weight: normal;
					color: $c1;
					font-size: 13px;
					width: 30px;
					padding-left: 5px;
				}

				ul {
					overflow: hidden;

					li {
						float: left;
						width: 64px;
						cursor: pointer;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				&:last-child {
					padding-left: 5px;

					ul {
						li {
							padding-left: 6px;
						}
					}
				}
			}
		}
	}
}
